
			h1 { font-size: 10px; }
			a { color: #548dc4; text-decoration: none; } <!-- #c46454 -->
			a:hover { text-decoration: underline; }
			table.testgrid {
    border-collapse: collapse;
    width: 800px;
}
			table.testgrid td, table.testgrid th {
    padding: 1px;
    border: 1px solid #c7c8c8;
}
			table.testgrid th {
    background: #E5E5E5;
    text-align: left;
    text-align: center;
}
			input.invalid { background: red; color: #FDFDFD; }
#tablecontent {
 overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.testgrid thead tr a {
    font-size:12px;
    padding: 0 1px;
}
.editablegrid-indicador, .editablegrid-pilar, .number, .editablegrid-area, .editablegrid-tipo {
    font-size: 12px;
    padding: 6px 3px!important;
    font-weight: bold;
}
#searchField {
    margin: 9px 0px 6px 0px;
    padding: 10px;
    display: inline-block;
    width: 320px;
}
.testgrid tbody {
 max-height: 500px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.testgrid tbody tr {
 background: #fff;
}
.testgrid tbody tr:hover, .testgrid tbody tr:hover .editablegrid-indicador {
    background: #dee6ff;
}
.number.No-Edit {
    background: #e8e8e8;
    color: #909394;
    cursor: not-allowed;
}
.editablegrid-indicador {
 width: 400px;
 position: absolute;
    background: #fff;
    margin-left: -1px;
}
.editablegrid-tipo {
 padding-left:400px!important;
}
#savando {
    position: fixed;
    right: 0;
    z-index: 2;
    padding: 20px 40px;
    top: 64px;
    margin-right: 15px;
}
#savando p {
 font-size:14px;
 color:#fff;
}
/* width */
::-webkit-scrollbar {
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}